
/* banner image */
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 100%
}

/* headings*/
h3{
  color: #234481;
  font-family: chelsea-market-pro, sans-serif;
  font-style: normal;
  font-size: 125px;

}

h4{
  color: #234481;
  font-family: chelsea-market-pro, sans-serif;
  font-style: normal;
  font-size: 50px;
}
/* font size for all text in main webpage */
p li {
  font-size: 200px;
}

/* bakground color */
body{
  background-color:#f9effa
}

/* set up navigation bar*/
nav{
  align-content:center;
  padding: 20px;
  background-color: #234481;
}
/*organize links in the nav bar */
.nav{
  padding-left: 80px;
  padding-right: 80px;
}

/* customize all links */
a{
font-size: 20px;
color: white;
padding: 5px;
font-family: monospace;

}
/* change link color on hover*/
a:hover{
  color: #ebd8fc;
}

/*set up left section of page */
.menu {
  width: 50%;
  float: left;
}

/*set up right section of page */
.main{
  width: 50%;
  float: left;
}

.webpage {
  color: #234481;
}
